# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

.idea/

# data & pretrain-model
AM/data/
AM/pretrained/
AM/outputs/
AM/tmp/

# private files
utils_plot*
imgs/