# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

.idea/

# data & pretrain-model
backup/
data/
pretrained/

# private files
utils_plot*
imgs/
1.md
